$backprimary: #e4ba1359;
// colors
$primary: black;
$secondary: black;
$bg-team: rgb(218, 218, 218);
$bg-nav: rgba(255, 255, 255, 0.199);

// menu-animation
$menu-animation: cubic-bezier(1, 0, 0, 1);
